main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






.home {
    position: relative;
    height: 85vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home:nth-child(2) {
    transition-delay: 400ms;
}

.home .img-container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--corbase);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px var(--corbase);
    animation: Pulse 3.5s ease-in-out infinite;
    transition: all 0.6s ease;
    z-index: 3;
}

@keyframes Pulse {
    0% {
        box-shadow: 0 0 20px var(--corbase);
    }

    50% {
        box-shadow: 0 0 60px var(--corbase);
    }

    100% {
        box-shadow: 0 0 20px var(--corbase);
    }
}

.home .img-container:hover {
    scale: 1.1;
}

.home .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.home .text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
}

.home .main-uppertitle {
    color: var(--corfundoclaro);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
}

.home .main-title {
    position: relative;
    color: var(--corfundoclaro);
    font-size: 80px;
    letter-spacing: 8px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.home .main-title:hover {
    color: var(--corbase);
    transform: translate(0, -10px);
}

.home .main-title::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: var(--corbase);
    left: 0;
    top: 85%;
    transition: all 1.2s ease;
}

.home .main-title:hover::after {
    width: 100%;
}

.home .main-subtitle {
    color: var(--corfundoclaro);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.home .main-subtitle span {
    position: relative;
    color: var(--corbase);
    width: 100%;
    letter-spacing: 2px;
    padding-right: 5px;
    animation: 
        Cursor .4s step-end infinite alternate;
}

.home .main-subtitle span::after {
    content: 'HTML5';
    display: inline-block;
    animation: 
        FlipWords 25s infinite;
    transform-style: preserve-3d;
}

@keyframes FlipWords {
    0%, 16% {
        content: 'HTML5';
        transform: rotateX(0deg);
        opacity: 1;
    }
    17%, 19% {
        content: 'HTML5';
        transform: rotateX(90deg);
        opacity: 0;
    }
    19.01% {
        content: 'CSS3';
        transform: rotateX(90deg);
        opacity: 0;
    }
    20%, 36% {
        content: 'CSS3';
        transform: rotateX(0deg);
        opacity: 1;
    }
    37%, 39% {
        content: 'CSS3';
        transform: rotateX(90deg);
        opacity: 0;
    }
    39.01% {
        content: 'TypeScript';
        transform: rotateX(90deg);
        opacity: 0;
    }
    40%, 56% {
        content: 'TypeScript';
        transform: rotateX(0deg);
        opacity: 1;
    }
    57%, 59% {
        content: 'TypeScript';
        transform: rotateX(90deg);
        opacity: 0;
    }
    59.01% {
        content: 'Angular';
        transform: rotateX(90deg);
        opacity: 0;
    }
    60%, 76% {
        content: 'Angular';
        transform: rotateX(0deg);
        opacity: 1;
    }
    77%, 79% {
        content: 'Angular';
        transform: rotateX(90deg);
        opacity: 0;
    }
    79.01% {
        content: 'Java';
        transform: rotateX(90deg);
        opacity: 0;
    }
    80%, 96% {
        content: 'Java';
        transform: rotateX(0deg);
        opacity: 1;
    }
    97%, 99% {
        content: 'Java';
        transform: rotateX(90deg);
        opacity: 0;
    }
    99.01% {
        content: 'HTML5';
        transform: rotateX(90deg);
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .home {
        flex-direction: column;
        height: auto;
        width: 90vw;
        padding: 50px 0;
        gap: 40px;
    }
    
    .home .img-container {
        width: 300px;
        height: 300px;
    }
    
    .home .text-container {
        align-items: center;
        text-align: center;
    }
    
    .home .main-uppertitle {
        font-size: 35px;
    }
    
    .home .main-title {
        font-size: 50px;
        letter-spacing: 5px;
        white-space: nowrap;
    }
    
    .home .main-title::after {
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
    }
    
    .home .main-title:hover::after {
        width: 100%;
    }
    
    .home .main-subtitle {
        font-size: 25px;
    }
    
    .home .rotate-logo {
        font-size: 100px;
        position: relative;
        top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .home {
        width: 95vw;
        padding: 30px 0;
    }
    
    .home .img-container {
        width: 250px;
        height: 250px;
    }
    
    .home .main-uppertitle {
        font-size: 28px;
    }
    
    .home .main-title {
        font-size: 40px;
        letter-spacing: 3px;
    }
    
    .home .main-subtitle {
        font-size: 22px;
    }
    
    .home .rotate-logo {
        font-size: 80px;
    }
}








.rotate-logo {
    color: var(--corbase);
    font-size: 150px;
    position: absolute;
    top: 90%;
    animation: RotateLogo 5s linear infinite;
    text-shadow: 0 0 15px var(--corbase);
    cursor: pointer;
    transition: all 0.6s ease;
}

.rotate-logo:hover {
    scale: 1.2;
}

@keyframes RotateLogo {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}







.sobre-mim {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
}

.sobre-mim .main-title {
    position: relative;
    color: var(--corfundoclaro);
    font-size: 80px;
    transition: all 0.6s ease;
}

.sobre-mim .main-title:hover {
    color: var(--corbase);
}

.sobre-mim .main-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, transparent, transparent, var(--corbase), transparent, transparent);
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
}

.sobre-mim .main-text {
    color: var(--corfundoclaro);
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .sobre-mim {
        width: 90vw;
        padding: 50px 0;
        gap: 30px;
    }
    
    .sobre-mim .main-title {
        font-size: 60px;
        white-space: nowrap;
    }
    
    .sobre-mim .main-text {
        width: 80%;
        font-size: 18px;
    }
}









.habilidades {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 450px;
    padding: 450px 0;
}

.habilidades::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 90%;
    background-color: var(--corbase);
    border-radius: 5px;
}

.habilidades .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 350px;
    width: 80%;
}

.habilidades .icon-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades .icon-box i {
    color: var(--corbase);
    font-size: 200px;
    transition: all 0.6s ease;
}

.habilidades .icon-box i:hover {
    scale: 1.2;
    cursor: pointer;
    text-shadow: 0 0 10px var(--corbase);
}

.habilidades .text-box {
    width: 40%;
}

.habilidades .box-title {
    font-size: 65px;
    color: var(--corfundoclaro);
    letter-spacing: 2px;
}

.habilidades .box-text {
    color: var(--corfundoclaro);
    font-size: 20px;
    text-align: justify;
}

.habilidades .star-level {
    color: var(--corbase);
    font-size: 25px;
    margin-top: 5px;
}

.habilidades .star-level .inactive {
    color: var(--darkcorbase);
}

.habilidades .invertido {
    flex-direction: row-reverse;
}

.ts-icon {
    color: var(--corbase); /* Cor oficial do TypeScript */
    font-size: 200px;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
    
.ts-icon:hover {
    scale: 1.2;
    cursor: pointer;
    text-shadow: 0 0 10px var(--corbase);
}
    
@media screen and (max-width: 1200px) {
    .ts-icon {
        font-size: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .habilidades {
        gap: 200px;
        padding: 250px 0;
    }
    
    .habilidades::after {
        height: 0%;
    }
    
    .habilidades .container {
        flex-direction: column;
        gap: 10px;
        width: 85%;
    }

    .habilidades .invertido {
        flex-direction: column;
    }
    
    .habilidades .icon-box {
        width: 100%;
    }
    
    .habilidades .icon-box i {
        font-size: 150px;
    }
    
    .habilidades .text-box {
        width: 100%;
        text-align: center;
    }
    
    .habilidades .box-title {
        font-size: 50px;
        text-align: center;
    }
    
    .habilidades .box-text {
        font-size: 18px;
        text-align: center;
    }
    
    .habilidades .star-level {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}









.curriculo {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 150px 0;
}

.curriculo .main-title {
    position: relative;
    color: var(--corfundoclaro);
    font-size: 80px;
    letter-spacing: 3px;
    transition: all 0.6s ease;
    z-index: 2;
}

.curriculo .main-title:hover {
    color: var(--corbase);
}

.curriculo .main-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, transparent, transparent, var(--corbase), transparent, transparent);
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
}

.curriculo .main-text {
    color: var(--corfundoclaro);
    font-size: 20px;
    width: 40%;
    text-align: center;
    z-index: 2;
}

.curriculo .btn {
    position: relative;
    background-color: var(--corfundo);
    border: solid 2px var(--corbase);
    width: 250px;
    height: 60px;
    border-radius: 60px;
    transition: all 0.6s ease;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.curriculo .btn:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 20px var(--corbase);
}

.curriculo .btn span {
    color: var(--corfundoclaro);
    font-size: 18px;
    letter-spacing: 2px;
    z-index: 2;
}

.curriculo .btn::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--corbase);
    transition: all 0.6s ease;
    z-index: -1;
}

.curriculo .btn:hover::after {
    width: 100%;
}

.curriculo .background-logo {
    position: absolute;
    color: var(--darkcorbase);
    font-size: 800px;
    z-index: 0;
    opacity: 0.3;
    text-shadow: 0 0 55px var(--darkcorbase);
}

@media screen and (max-width: 1200px) {
    .curriculo {
        width: 90vw;
        padding: 50px 0;
        gap: 30px;
        margin: 100px 0;
    }
    
    .curriculo .main-title {
        font-size: 60px;
        white-space: nowrap;
    }
    
    .curriculo .main-text {
        width: 80%;
        font-size: 18px;
    }
    
    .curriculo .background-logo {
        font-size: 400px;
        opacity: 0.2;
    }
}









.contato {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.contato {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
}

.contato .main-title {
    position: relative;
    color: var(--corfundoclaro);
    font-size: 80px;
    letter-spacing: 3px;
    transition: all 0.6s ease;
    text-align: center;
    width: auto;
    max-width: 100%;
}

.contato .main-title:hover {
    color: var(--corbase);
}

.contato .main-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, transparent, transparent, var(--corbase), transparent, transparent);
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.contato .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
    justify-items: center;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
}

.contato .container .card {
    position: relative;
    padding: 60px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato .container .card i {
    color: var(--corfundoclaro);
    font-size: 125px;
    z-index: 3;
    transition: all 0.6s ease;
}

.contato .container .card i:hover {
    color: var(--corbase);
    cursor: pointer;
    scale: 1.3;
}

@media screen and (max-width: 1200px) {
    .contato {
        padding: 50px 20px;
        gap: 40px;
    }
    
    .contato .main-title {
        font-size: 60px;
        white-space: normal;
    }
    
    .contato .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px; /* Ajustando o gap */
        width: 90%;
        max-width: 400px; /* Ajustando para telas menores */
    }
    
    .contato .container .card {
        width: 80px; /* Menor para telas médias */
        height: 80px;
    }
    
    .contato .container .card i {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .contato .container {
        grid-template-columns: repeat(2, 1fr); /* Mantendo 2 colunas */
        gap: 30px;
        width: 90%;
        max-width: 300px; /* Ainda menor para telas pequenas */
    }
    
    .contato .container .card {
        width: 70px; /* Ainda menor para telas pequenas */
        height: 70px;
        padding: 10px;
    }
    
    .contato .container .card i {
        font-size: 40px;
    }
}

/* Para telas muito pequenas */
@media screen and (max-width: 320px) {
    .contato .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 95%;
    }
    
    .contato .container .card {
        width: 60px;
        height: 60px;
        padding: 5px;
    }
    
    .contato .container .card i {
        font-size: 35px;
    }
}